@import 'tailwindcss/theme.css' layer(theme);
@import 'tailwindcss/utilities.css' layer(utilities);

@source '../../src/**/*.php';
@source '../views/**/*.blade.php';

@theme {
    --color-danger: var(--color-rose-500);
    --color-primary: var(--color-amber-500);
    --color-success: var(--color-green-500);
    --color-warning: var(--color-amber-500);
}
